@model GigHub.ViewModels.GigDetailsViewModel

@{
    ViewBag.Title = "title";
  
}


<h2>@Model.Gig.Artist.Name
    @if (User.Identity.IsAuthenticated)
    {
        if (Model.IsFollowing)
        {
            <button data-artist-id="@Model.Gig.ArtistId" class="js-toggle-follow btn btn-info" >Following</button>   
        }
        else
        {
            <button data-artist-id="@Model.Gig.ArtistId" class="js-toggle-follow btn btn-default">Follow</button>
        }

    }
</h2>
@if(Model.Gig.isCanceled){
<span class="label label-warning">Canceled by @Model.Gig.Artist.Name</span>
}
<p>
    Performing at @Model.Gig.Venue on @Model.Gig.DateTime.Value.ToString("d MMM") at @Model.Gig.DateTime.Value.ToString("HH:mm")
</p>
@if (User.Identity.IsAuthenticated && Model.IsAttending)
{
    <b>You are going to this event...</b>
}
else
{
    <b>You are not attending this event yet...</b>
}




@section scripts{
    <script>
        $(document).ready(function () {
            gigsDetailController.init();
         });
</script>
    }




