@model  GigHub.ViewModels.GigsViewModel
@{
    ViewBag.Title = "Home Page";
}
<h2>@Model.Heading</h2>
<ul class="gigs voffset4">
    @if (Model.Heading== "Gigs I'm Attending"&& Model.UpComingGigs.ToList().Count==0)
    {
        <h4>You don't have any gigs on the schedule yet.</h4> 
    }
    @foreach (var gig in Model.UpComingGigs)
    {

        <li>
            <div class="date">
                <div class="month">
                    @gig.DateTime.Value.ToString("MMM")
                </div>
                <div class="day">
                    @gig.DateTime.Value.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="artist">
                    @gig.Artist.Name
                </span>
                @if (@Model.ShowActions)
                {
                    <button data-artist-id="@gig.ArtistId" class="js-toggle-follow btn btn-default btn-sm pull-right">Follow</button>
                }
                <span class="genre">
                    @gig.Genre.Name
                </span>
                @if (@Model.ShowActions)
                {
                    <button data-gig-id="@gig.Id" class="js-toggle-attendance btn btn-default btn-sm pull-right">Going ?</button>
                }
            </div>
        </li>



    }
</ul>

@section scripts
{
    <script>
        $(document).ready(function() {
            $(".js-toggle-attendance").click(function(e) {
                var button = $(e.target);
                $.post("/api/attendances", {gigId:button.attr("data-gig-id")})
                    .done(function() {
                        button.removeClass("btn-default")
                            .addClass("btn-info")
                            .text("Going");
                    })
                    .fail(function() {
                        alert("Something Failed");
                    });
            });
            //button click
        });
    </script>
    
    <script>
        $(document).ready(function() {
            $(".js-toggle-follow").click(function(e) {
                var button = $(e.target);
                $.post("/api/following", {followeeId:button.attr("data-artist-id")})
                    .done(function() {
                        button.removeClass("btn-default")
                            .addClass("btn-info")
                            .text("Following");
                    })
                    .fail(function() {
                        alert("Something Failed");
                    });
            });
            //button click
        });
    </script>
}
